body {
    background-color: Black;
    
    margin-left: 3.2%;
    margin-Right: 3.2%;
}

h1 {
    display:flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: red;
    font-size: 50px;
    text-align: center;
}

h2 {
    display:flex;
    justify-content: center;
    align-items: center;
    color: green;
    font-size: 40px;
    text-align: center;
}
